@import (inline) '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import (inline) '../../node_modules/lightgallery/dist/css/lightgallery.min.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans&display=swap';
@import 'https://fonts.googleapis.com/css?family=Fjalla+One&display=swap';
@import 'https://fonts.googleapis.com/css?family=Noto+Sans:700&display=swap';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap';
@import (inline) '../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import (inline) '../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css';
@import (inline) '../../node_modules/lightslider/dist/css/lightslider.min.css';
@import (inline) '../../node_modules/tingle.js/dist/tingle.min.css';

//Thibault
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Frutiger;
}

.lSSlideOuter{
  width:50vw;
  margin-bottom:5em;
}
.container-act {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.container-act .slider-show {
  width: 50%;
}
.container-act .act-content {
  width: 30%;
}
.img-responsive{
  max-width: 100%;
  height:auto;
  display:block;
}
li {
  list-style: none;
}
#infos_bien{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 2rem;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #59A6BA;
  margin: 25px;
  min-width: 40px;
}
[itemprop="name"]{
  font-weight: bold;
  font-family: 'Noto Sans';
  text-transform: capitalize;
  color: #59A6BA;
  margin-bottom: 1em;
}
//Marius
#navbar-primary .navbar-nav {
//  background: #ededed;
  width: 100%;
  text-align: center;
  margin:20px 0px 20px 25px;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 3em;
      padding-right: 3em;
      font-size: 1.5em;
      color: #EC4078;
    }
  }
}

.menu{
  font-weight: bold !important;
  font-family: 'Noto Sans' !important;

}
body {
  margin:0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}



.cont {
  text-align: center;
  > .titre{
    margin-bottom: 50px;
    font-family: 'Fjalla One', sans-serif;
    background-image: url("../images/banner.jpg");
    padding:60px;
    color:#fff;
  }
}
.btn{
  font-weight: bold;
  font-size: 1.1em;
  color:#fff;
  letter-spacing: 2px;
  padding: 13px 17px;
  background-color:none;
  border: solid 2px #EC4078;
  border-radius:2px;
  transition:color .2s linear, background-color .2s linear;}
    .btn:hover{
      background-color:#fff;
      color:#EC4078;
      border: 2px solid rgba(255, 0, 0, 0)
    };



.lightgallery > ul {
  margin-bottom: 0;
  padding-left: 15px;
}

.lightgallery > ul > li {
  margin-bottom: 15px;
  width:500px;
  display: inline-block;
  margin-right: 15px;
  list-style: none;
}

.lightgallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.lightgallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.lightgallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.lg-sub-html, .lg-toolbar {
    background-color: rgba(0,0,0,0);
    }


//Robin
footer
{
    background-color: #ea094b;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
  font-family: 'Open Sans', sans-serif;
}
footer > div
{
    width: 25vw;
    height: 200px;
    display: flex;
    align-items: center;
}

footer > div nav
{
    display: flex;
    flex-direction: column;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer a:hover
{
    text-decoration: underline;
    color: white;
}


footer h3
{
    color: white;
    margin-top: 0px;
    font-weight: bold;
}

footer form
{
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}
footer form h3
{
    color: #ea094b;
}

footer form input[type=text]
{
    border-radius: 5px;
    border: 1px grey solid;
    background-color: #f7f7f7;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
}

#button
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: #ea094b;
    color: white;
    height: 30px;
    width: 100px;

}

#button:hover
{
    border: 2px solid #ea094b;
    background-color: white;
    color: #ea094b;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    footer
    {
    }

}
